<nav>
    <ul>
        <a href="{{ path('main-page') }}">
            <li>Strona główna</li>
        </a>
        <a href="{{ path('blog-articles') }}">
            <li>Artykuły</li>
        </a>
        <a href="{{ path('about-me') }}">
            <li>O mnie</li>
        </a>
        <a href="{{ path('blog-contact') }}">
            <li>Kontakt</li>
        </a>
        <a href="{{ path('app_register') }}">
            <li>Rejestracja</li>
        </a>
        <a href="{{ path('app_login') }}">
            <li>Login</li>
        </a>
    </ul>
</nav>